<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ page.excerpt | strip_html || site.description }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html || site.description }}"/>
  <meta property="og:title" content="{{ page.title || site.title }}"/>
  <meta property="fb:app_id" content="{{ site.facebook.app_id }}" /> 

  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>    
  <script type="text/javascript" src="{{ site.javascripts_path }}/init.js"></script>
  {% if page.photoset %}{% include flickr.html %}{% endif %}
  {% if page.googlemap %}{% include googlemap.html %}{% endif %}

  <link rel="stylesheet" href="{{ site.stylesheets_path }}/main.css">
  <style>
    /* Permet de modifier le lien actif dans la barre de menu */
    header nav ul a[href="{{ page.url }}"] {
      color: #ffd700;
      font-weight: 100;
      text-transform: uppercase;
    }
  </style>

  <title>{{ page.title || site.title }}</title>
</head>