<header role="navigation">
  <nav class="container" role="menubar">
    <h1>
      <a href="{{ site.baseurl }}" title="Accueil">X<sup>ing</sup> Borders</a>
      <!-- <small>{{ site.tagline }}</small> -->
    </h1>
    <ul id="text-menu">
      <li><a href="{{ site.baseurl }}" role="menuitem">Home&nbsp;</a></li>
      <li><a href="{{ site.baseurl }}about/" role="menuitem">À propos de…</a></li>
      <li><a href="{{ site.baseurl }}contact/" role="menuitem">Contact&nbsp;</a></li>
    </ul>

    <ul id="icon-menu">
      <li><a href="{{ site.baseurl }}" role="menuitem" title="Retour à la page d'accueil"><i class="fa fa-home"></i></a></li>
      <li><a href="{{ site.baseurl }}about/" role="menuitem" title="À propos de moi…">
        <i class="fa fa-user"></i></a></li>
      <li><a href="{{ site.baseurl }}contact/" role="menuitem" title="Contactez moi!"><i class="fa fa-envelope"></i></a></li>
    </ul>
    
    <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'en,es', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-64613723-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        
  </nav>
</header>
