.infobox {
  display: none;
  font-size: .8rem;
  max-width: 18rem;
  min-height: 10rem;
  padding: .6rem;

  h3 {
    margin: 0 0 .6rem 0;
  }

  small {
    color: $boulder;
    display: block;
    font-size: .8rem;
    font-weight: 200;
  }

  p:last-of-type {
    bottom: .3rem;
    margin: 0;
    position: absolute;
    right: .3rem;
  }
}
