#photoset {
  background-color: rgb(35, 35, 35);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 3px;
  border: 1px solid black;
  left: .3rem;
  padding: .3rem;
  position: absolute;
  top: 40%;
  width: 25%;

  h1 {
    color: #efefef;
    font-size: .8rem;
    letter-spacing: .1em;
    margin: 1rem 0;
    text-align: center;

    i {
      font-size: 1.3rem
    }
    
    i.fa-camera-retro {
      display: none;
    }
  }
  
  p {
    margin: 0;
    padding: 0;
    text-align: center;

    a {
      img {
        border: 1px solid #333;
        height: 7rem;
        width: 7rem;
      }
    }
  }
}

#photoset.below-article {
  max-height: 14rem;
  overflow: scroll;
  position: relative;
}


#overlay {
  background-color: rgba(0,0,0,0.8);
  display: none;
  height: 110%;
  left: 0;
  position: fixed;
  top: -3rem;
  width: 100%;
  z-index: 1;
}

#frame {
  background-color: rgba(0, 0, 0, .9);
  border: 3px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8);
  display: none;
  left: 50%;
  position: fixed;
  // min-width: 25%;
  top: 50%;
  z-index: 101;

  img {
    height: auto;
    max-width: 100%;
  }

  figcaption {
    color: #eee;
    font-family: $font_10;
    margin: .2rem 0;
    text-align: center;
  }

  .fa-times-circle {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }

  [rel]:not([rel='']) {
    color: #cecece;
    padding: .3rem;
    position: absolute;
    top: 0;

    &[href=''] {
      display: none;
    }

    &:hover {
      text-decoration: none;
    }
  }
  
  a[rel='prev'] {
    left: 0;
  }

  a[rel='next'] {
    right: 0;
  }

}

@media(max-width: 1240px) {
  #photoset {
    left: initial;
    width: 10%;
    right: .3rem;

    h1 {
      small {
        display: none;
      }

      i.fa-camera-retro {
        display: inline;
      }
    }

    p {
      display: none;
    }

    &:hover {
      width: 98.5%;
      p {
        display: inherit;

        a {
          display: inline;
          margin: auto .3rem;
        }
      }
    }
  }
}