---
---
@import 'base';
@import 'reset';
@import 'article';
@import 'font-awesome';
@import 'header';
@import 'container';
@import 'post';
@import 'pagination';
@import 'infobox';
@import 'footer';
@import 'facebook-button';

html, body {
  height: 100%;
}

#map-canvas {
  border-bottom: 1px solid #999;
  height: 90%;
  width: 100%;

  img {
    max-width: none;
  }
}

h1, h2, h3 {
  small {
    font-size: .8rem;
    font-weight: 400;
    text-transform: capitalize;
  }
}

#page-navigation {
  bottom: 1em;
  padding: 0 1em;
  position: fixed;
}
