<!DOCTYPE html>
<html lang="fr">
  
{% include head.html %}

<body>

  {% include header.html %}

{% if page.googlemap %}
  <div id="map-canvas"></div>
  {% include infoboxes.html %}
{% endif %}

  <div class="container">
    {{ content }}
  </div>
  
  <div id="page-navigation">
    {% if page.previous.url %}
     <a href="{{page.previous.url}}" title="Voyage précédent: 
        {{page.previous.title}}" style="float: left">&laquo; {{page.previous.zone}}</a>
    {% endif %}

   {% if page.next.url %}
    <a href="{{page.next.url}}" title="Voyage suivant: 
    {{page.next.title}}" style="float: right">{{page.next.zone}} &raquo; </a>
   {% endif %}
  </div>
  
  {% include footer.html %}
</body>
</html>
