<!DOCTYPE html>
<html lang="fr">
  
{% include head.html %}

<body>

  {% include header.html %}

{% if page.googlemap %}
  <div id="map-canvas"></div>
  {% include infoboxes.html %}
{% endif %}

    <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'fr', includedLanguages: 'en,es', gaTrack: true, gaId: 'UA-64613723-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <div class="container">
    {{ content }}
  </div>
  
  <div id="page-navigation">
    {% if page.previous.url %}
     <a href="{{page.previous.url}}" title="Voyage précédent: 
        {{page.previous.title}}" style="float: left">&laquo; {{page.previous.zone}}</a>
    {% endif %}

   {% if page.next.url %}
    <a href="{{page.next.url}}" title="Voyage suivant: 
    {{page.next.title}}" style="float: right">{{page.next.zone}} &raquo; </a>
   {% endif %}
  </div>
  
  {% include footer.html %}
</body>
</html>
