---
layout: default
comments: true
googlemap: true
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId={{ site.facebook.app_id }}&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<style>
  #map-canvas {
    height: 33%;
  }
</style>

<article role="article">
  <header>
    <h1>{{ page.title }}</h1>
    <small>Publié le <time>{{ page.date | date: "le %d %B %Y" }}</time></small>
    <iframe src="//www.facebook.com/plugins/like.php?href={{ site.url | replace: ':', '%3A' | replace: '/', '%2F'}}{{ page.url | replace: '/', '%2F' }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=702447933160068" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
  </header>
  %3A%2F

  {{ content }}
  {% include photoset.html %}

  {% include comments.html %}
</article>
