---
layout: default
comments: false
googlemap: true
---

<style>
  #map-canvas {
    height: 33%;
  }
</style>

<article role="article">
  <header>
    <h1>
      {{ page.title }}
      <small>Publié <time>{{ page.date | date: "le %d %B %Y" }}</time></small>
    </h1>
    <a href="" id="featured_image"><img src="" alt=""></a>
    {% include photoset.html %}
  </header>
  

  {{ content }}

  {% include comments.html %}
</article>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="{{site.javascripts_path}}/galleria/galleria-1.4.2.js"></script>
  <script src="{{site.javascripts_path}}/galleria/themes/classic/galleria.classic.min.js"></script>
